@import "materialize";
@import "material_icons";


#content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
}

thead tr {
    border-bottom: 2px solid #555;
}

.copy-icon {
    margin-left: 5px;
    cursor: pointer;

    & > .material-icons {
        font-size: 16px;
    }
}

#app table p, #app .dropdown-content p {
    margin: 0;
}

.relative {
    position: relative;

    .dropdown-domains {
        right: 0;
        left: unset;
        overflow: unset;

        .close-button {
            position: absolute;
            top: -15px;
            right: -15px;
        }
    }
}
